<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="C:\Logs\Api\UsersApi\nlog-internal.log">
  <variable name="lvl" value="${replace:searchFor=FATAL:replaceWith=CRITICAL:regex=false:inner=${level:uppercase=true}}" />
  <targets>
    <target xsi:type="BufferingWrapper"  name="normalBuffered">
      <target xsi:type="File" name="normal" fileName="C:\Logs\Api\UsersApi\${date:format=yyyyMMdd}-normal.json" encoding="utf-8">
        <layout xsi:type="JsonLayout" suppressSpaces="true">
          <attribute name="tms" layout="${date:universalTime=true:format=o}" />
          <attribute name="lvl" layout="${lvl}"/>
          <attribute name="msg" layout="${message}" />
          <attribute name="exc" layout="${exception:format=ToString}" />
          <attribute name="cor" layout="${activityid}"/>
        </layout>
      </target>
    </target>
    <target xsi:type="BufferingWrapper"  name="debugBuffered">
      <target xsi:type="File" name="debug" fileName="C:\Logs\Api\UsersApi\${date:format=yyyyMMdd}-debug.json" encoding="utf-8">
        <layout xsi:type="JsonLayout" suppressSpaces="true">
          <attribute name="tms" layout="${date:universalTime=true:format=o}" />
          <attribute name="lvl" layout="${lvl}"/>
          <attribute name="msg" layout="${message}" />
          <attribute name="exc" layout="${exception:format=ToString}" />
          <attribute name="cor" layout="${activityid}"/>
        </layout>
      </target>
    </target>
    <target xsi:type="BufferingWrapper"  name="traceBuffered">
      <target xsi:type="File" name="trace" fileName="C:\Logs\Api\UsersApi\${date:format=yyyyMMdd}-trace.json" encoding="utf-8">
        <layout xsi:type="JsonLayout" suppressSpaces="true">
          <attribute name="tms" layout="${date:universalTime=true:format=o}" />
          <attribute name="lvl" layout="${lvl}"/>
          <attribute name="msg" layout="${message}" />
          <attribute name="exc" layout="${exception:format=ToString}" />
          <attribute name="cor" layout="${activityid}"/>
        </layout>
      </target>
    </target>
    <target xsi:type="BufferingWrapper"  name="errorBuffered">
      <target xsi:type="File" name="error" fileName="C:\Logs\Api\UsersApi\${date:format=yyyyMMdd}-error.json" encoding="utf-8">
        <layout xsi:type="JsonLayout" suppressSpaces="true">
          <attribute name="tms" layout="${date:universalTime=true:format=o}" />
          <attribute name="lvl" layout="${lvl}"/>
          <attribute name="msg" layout="${message}" />
          <attribute name="exc" layout="${exception:format=ToString}" />
          <attribute name="cor" layout="${activityid}"/>
        </layout>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="trace" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
  </rules>
</nlog>